<nav class="site-title">
  <a href="/"><h1>SJ programmer</h1></a>
  <p>실패는 성공의 어머니</p>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
